extends faBase
block content
    .container
        .row
            .col-xs-12.col-sm-3
                h3 RTW Fall 2016
                h4#top=title
                each designer in designers
                    h5
                        a.des(href="#" + designer)= designer
            .col-xs-12.col-sm-9
                .row.list-group
                    each e in entries
                        p
                            each look in e.looks
                                .col-xs-12.col-sm-3
                                    img(src=look, width='190', height='270')
                        .col-xs-12
                            p(id=e)= e.name
                            p= e.notes
                            a(href="#top") UP!